<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>

	<style type="text/css">
		body { margin: 0; padding: 0; height: 2000px;}
		header {
			width: 100%;
			height: 40px;
			background: blue;
			color: white;
			position: fixed;
			/*display: none;*/
			margin-top: -40px;
		}
		#debug {
			position: fixed;
			bottom: 0;
			left: 0;
			background: #ccc;
			padding: 20px;
			border: 3px solid #000;
		}
	</style>
</head>
<body>

	<header>Header stuff here</header>

	<div id="stuff"></div>

	<div id="debug">
		<div>Current Height: <span id="current-height">0</span></div>
		<div>Prev Height: <span id="prev-height">0</span></div>
	</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
	var prevheight = 600;
	var docheight = $(document).height();
	var currentScrollheight = $(window).scroll(function() {
		// on each scroll capture the current px distance from screen height
		var currentheight = $(window).scrollTop();
		// log the current heigh from the top
		console.log('height from scroll top', currentheight);

		if (prevheight > currentheight && currentheight > 600) {
			$('header').animate({margin: 0},{ queue: false, duration: 80 });
			// only log the prev height if it has moved more than 10px
			if (prevheight + 10 > currentheight || prevheight - 10 < currentheight) {
				prevheight = currentheight;
			}
		} else {
			$('header').animate({margin: "-40px 0 0 0"},{ queue: false, duration: 80 });
			// only log the prev height if it has moved more than 10px
			if (prevheight + 10 > currentheight || prevheight - 10 < currentheight) {
				prevheight = currentheight;
			}
		}

		$('#current-height').text(currentheight);
		$('#prev-height').text(prevheight);
	});


	for (var i = 0; i < 2000; i += 1) {
		$('#stuff').append('laksjdflaksjfd;lakjsf;lasjfdalsdkfj\n');
	}

	// log the doc height
	console.log('docheight', docheight);
</script>
</body>
</html>