<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Awesome Header</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>


<div class="container">
	<div class="row">

		<h1 class="text-center">Make an Awesome Header</h1>

		<nav class="text-center">
			<a class="btn btn-primary" href="/example" target="_blank">Demo</a>  
			<!-- <a class="btn btn-default" href="#/coming-soon!/min">Minimum Version</a> -->
		</nav>


		<div class="row">
			<div class="col-md-6 text-center">
				<p>What is your header tag jQuery selector</p>

				<input id="ah-selector" type="text" placeholder='Type "#header" <div id="header">Header Text</div>' />
			</div>

			<div class="col-md-6 text-center">
				<p>What is pixel height of your header?</p>

				<input id="ah-height" type="text" placeholder="Type '40' (for 40 pixels)" />
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 text-center">
				<p>What height in pixels of scrolling that you would like your header to start appearing at?</p>

				<input id="ah-scroll-height" type="text" placeholder="Type '600' (for showing the header when scroll is at 600 pixels)" />
			</div>

			<div class="col-md-6 text-center">
				<p>Does your project already have jQuery?</p>

				Yes: <input id="ah-scroll-jQuery" type="checkbox" />
			</div>
		</div>

		<div class="row text-center">
			<p>Here is your code:</p>
			<textarea id="final-code" placeholder="Code will magically appear here..." spellcheck="false"></textarea>


			<p>Here is your code minified:</p>
			<textarea id="final-code-minified" placeholder="Code will magically appear here..." spellcheck="false"></textarea>
		</div>

		<hr />

		<div class="row text-center">
			<p>For more information on this project, visit the github page at: <a href="https://github.com/clamstew/awesome-header-scroll" target="_blank">clamstew / awesome-header-scroll</a></p>
		</div>

	</div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">



var makeCode = function(headerSelector, minShowHeight, headerHeight) {
	var finalCode = '';
	var tabSizeFour = "\ \ \ \ "
	// var jQueryPresentInProj = $("#ah-scroll-jQuery").is(':checked');
	if ($("#ah-scroll-jQuery").is(':checked') !== true) {
		finalCode += '\<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"\>\</script\>\n';
	}
	finalCode += '\<script type="text/javascript"\>\n';

	finalCode += tabSizeFour + 'var prevheight = '+minShowHeight+';\n';
	finalCode += tabSizeFour + 'var docheight = $(document).height();\n';
	finalCode += tabSizeFour + 'var currentScrollheight = $(window).scroll(function() {\n';
		finalCode += tabSizeFour + tabSizeFour + 'var currentheight = $(window).scrollTop();\n';
		finalCode += tabSizeFour + tabSizeFour + 'if (prevheight > currentheight && currentheight > '+minShowHeight+') {\n';
			finalCode +=  tabSizeFour + tabSizeFour + tabSizeFour + '$("'+headerSelector+'").animate({margin: 0},{ queue: false, duration: 80 });\n';
			finalCode += tabSizeFour + tabSizeFour + tabSizeFour + 'if (prevheight + 10 > currentheight || prevheight - 10 < currentheight) {\n';
				finalCode += tabSizeFour + tabSizeFour + tabSizeFour + tabSizeFour + 'prevheight = currentheight;\n';
			finalCode += tabSizeFour + tabSizeFour + tabSizeFour + '}\n';
		finalCode += tabSizeFour + tabSizeFour + '} else {\n';
			finalCode += tabSizeFour + tabSizeFour + tabSizeFour + '$("'+headerSelector+'").animate({margin: "-'+headerHeight+'px 0 0 0"},{ queue: false, duration: 80 });\n';
			finalCode += tabSizeFour + tabSizeFour + tabSizeFour + 'if (prevheight + 10 > currentheight || prevheight - 10 < currentheight) {\n';
				finalCode += tabSizeFour + tabSizeFour + tabSizeFour + tabSizeFour + 'prevheight = currentheight;\n';
			finalCode += tabSizeFour + tabSizeFour + tabSizeFour + '}\n';
		finalCode += tabSizeFour + tabSizeFour + '}\n';
	finalCode += tabSizeFour + '});\n';


	finalCode += "\</script\>";
	$('#final-code').val(finalCode);
};

var makeMinifiedCode = function(headerSelector, minShowHeight, headerHeight) {
	var finalCode = '';
	// var tabSizeFour = "\ \ \ \ "
	// var jQueryPresentInProj = $("#ah-scroll-jQuery").is(':checked');
	if ($("#ah-scroll-jQuery").is(':checked') !== true) {
		finalCode += '\<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"\>\</script\>\n';
	}
	finalCode += '\<script type="text/javascript"\>';

	finalCode += 'var prevheight = '+minShowHeight+';';
	finalCode += 'var docheight = $(document).height();';
	finalCode += 'var currentScrollheight = $(window).scroll(function() {';
		finalCode += 'var currentheight = $(window).scrollTop();';
		finalCode += 'if (prevheight > currentheight && currentheight > '+minShowHeight+') {';
			finalCode += '$("'+headerSelector+'").animate({margin: 0},{ queue: false, duration: 80 });';
			finalCode += 'if (prevheight + 10 > currentheight || prevheight - 10 < currentheight) {';
				finalCode += 'prevheight = currentheight;';
			finalCode += '}';
		finalCode += '} else {';
			finalCode += '$("'+headerSelector+'").animate({margin: "-'+headerHeight+'px 0 0 0"},{ queue: false, duration: 80 });';
			finalCode += 'if (prevheight + 10 > currentheight || prevheight - 10 < currentheight) {';
				finalCode += 'prevheight = currentheight;';
			finalCode += '}';
		finalCode += '}';
	finalCode += '});';


	finalCode += "\</script\>";
	$('#final-code-minified').val(finalCode);
};

var produceCode = function() {
	console.log('input change function is firing');
	var headerSelector = $('#ah-selector').val();
	var minShowHeight = +$('#ah-scroll-height').val();
	var headerHeight = +$('#ah-height').val();

	if (headerSelector !== '' && minShowHeight !== 0 && headerHeight !== 0) {
		makeCode(headerSelector, minShowHeight, headerHeight);
		makeMinifiedCode(headerSelector, minShowHeight, headerHeight);
	} else {
		$('#final-code').val('Must fill out the 3 blanks above...');
	}
};

$('input[type="text"]').on('keyup', function() {
	produceCode();
});
$('input[type="checkbox"]').on('click', function() {
	produceCode();
});
</script>

</body>
</html>