<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Awesome Header</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<h1>Make an Awesome Header</h1>

	<nav>
		<a href="/example">Example Page</a> | 
		<a href="/min">Minimum Version</a>
	</nav>

	<p>What is your header tag jQuery selector</p>

	<input type="text" placeholder="<div>asdfasf" />


	<p>What is pixel height of your header?</p>

	<input type="text" placeholder="Type '40' (for 40 pixels)" />


	<p>Here is your code:</p>
	<textarea placeholder="Code will magically appear here..."></textarea>

	<hr />

	<p>For more information on this project, visit the github page at: <a href="https://github.com/clamstew/awesome-header-scroll" target="_blank">clamstew / awesome-header-scroll</a></p>



<script type="text/javascript">

</script>

</body>
</html>