body {
	background: #ccc;
	font-family: sans-serif;
}
/*a, a:hover, a:active, a:visited {
	color: blue;
}*/
p {font-weight: bold;}
input, textarea { border: 1px solid #000;}

input[type="text"] {
	height: 30px;
	width: 300px;
	padding-left: 10px;
}

textarea {
	height: 250px;
	width: 800px;
	padding: 10px;
}
#final-code-minified {height: 170px;}