body {
	background: #ccc;
	font-family: sans-serif;
}
a, a:hover, a:active, a:visited {
	color: blue;
}
p {font-weight: bold;}
input, textarea { border: 1px solid #000;}

input[type="text"] {
	height: 30px;
	width: 200px;
	padding-left: 10px;
}

textarea {
	height: 300px;
	width: 400px;
	padding: 10px;
}